@import 'tailwindcss';

@layer base {
  .nav-item {
    @apply px-4 py-2 rounded-full text-sm font-medium transition-colors;
    @apply text-white/90 hover:text-white hover:bg-white/10;
  }

  .hero-ring {
    @apply absolute inset-0 border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-full border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
  }

  .container {
    @apply mx-auto px-4 md:px-8;
    max-width: 1024px;
  }
}

@layer utilities {
  .container {
    @apply lg:max-w-5xl;
  }
}

.bar-of-progress::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow:
    0 0 10px #10b981,
    0 0 5px #10b981;
  transform: rotate(3deg) translate(0px, -4px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

.animate-scaleIn {
  animation: scaleIn 0.5s ease-out;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 1rem));
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.animate-scroll2 {
  animation: scroll 20s linear infinite;
}
.mask-gradient {
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-type: luminance;
}
@keyframes ping-large {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.animate-ping-large {
  animation: ping-large 1s ease-in-out infinite;
}

@keyframes move-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-move-left {
  animation: move-left 1s linear infinite;
}

.animate-move-right {
  animation: move-right 1s linear infinite;
}

.animate-paused:hover {
  animation-play-state: paused;
}

.animation-duration-30 {
  animation-duration: 30s;
}
